{% extends "index.html" %}
{% load static %}

{% block title %}Log In - PowerPlates{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Log In</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
        {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
